{% extends 'base.html.twig' %}

{% block title %}Book list{% endblock %}

{% block body %}


    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                {% for book in books %}
                    <div class="col-md-4">
                        <div class="card shadow-sm">
                            <img class="card-img-top" src="{{ asset(getMediaUploadPath(book.media.filename)) }}"
                                 alt="Card image cap">
                            <div class="card-block p-3">
                                <h4 class="card-title">{{ book.title }}</h4>
                                <p class="card-text">
                                    {{ book.description|striptags|length > 100 ? book.description|striptags|slice(0, 100) ~ '...' : book.description|striptags }}
                                </p>
                                <small class="text-muted">Author:{{ book.author }}</small>
                                <br>
                                <h5 class="js-order" data-href="{{ path('app_book_book_show', {'id': book.id}) }}">
                                    <a data-toggle="modal" data-target="#orderModalCenter"
                                       href="{{ path('app_book_book_show', {'id': book.id}) }}">Detail</a>
                                </h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal js-order-show" id="orderModalCenter" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock %}
